.headerCube{
    height: auto;
    display: flex;
    justify-content: center;
}
.tittle {
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 21.5vw;
}

#tittleSpace{
    letter-spacing: 0.2vw;
}

.subtittle {
    font-weight: 400;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-family: 'Anton', sans-serif;
    margin-bottom: 1.6vw;
}

#lastName1 {
    font-size: 6.6vw;

}

#lastName2 {
    font-size: 4.5vw;
}