.mainGrid{
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    width: 100%;
    height: 100%;
}

.section1{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.section2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: right;
    justify-content: right;
    align-items: center;
}

.aboutImage{
    width: auto;
    height: 36vw;
    padding-right: 3vw;
}

.textCube{
    padding-left: 3vw;
}

.homeTittle{
    font-size: 6vw;
    font-weight: 400;
    color: black;
    font-family: 'Anton', sans-serif;
}

.homeText{
    font-size: 1.2vw;
    font-weight: 400;
    color: black;
	font-family: 'Montserrat', sans-serif;
    text-align: justify;
    padding-top: 1vw;
}