.mainGrid5{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-weight: 700;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 7vw;
}

.skillsContainer{
    width: 90%;
    height: 90%;
    background-image: url('../../components/images/skillsBack.avif');
    background-size: cover;
    border-radius: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerSkills{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 7.5vw;
}

.skillsTitle{
    font-family: 'Anton', sans-serif;
    font-size: 10vw;
    color: white;
    font-weight: 700;
}

.logosContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
}

.logoImage {
    display: block;
    height: auto;
    max-width: 100%; 
    flex: 0 0 auto;
    cursor: pointer;
}

#jsLogo{
    width: 5.5vw;
}

#phpLogo{
    width: 9vw;

}

#reactLogo{
    width: 5.9vw;
}

#nextLogo{
    width: 5.6vw;
}

#nodeLogo{
    width: 8.5vw;
}

#sqlLogo{
    width: 4.8vw;
}

#firebaseLogo{
    width: 5.3vw;
}

#figmaLogo{
    width: 5.5vw;
}


@media (max-width: 1024px) {
    #jsLogo{
        width: 12vw;
    }
    
    #phpLogo{
        width: 22vw;
    
    }
    
    #reactLogo{
        width: 14vw;
    }
    
    #nextLogo{
        width: 14vw;
    }
    
    #nodeLogo{
        width: 21vw;
    }
    
    #sqlLogo{
        width: 13vw;
    }
    
    #firebaseLogo{
        width: 15vw;
    }
    
    #figmaLogo{
        width: 14.5vw;
    }

    .logosContainer {
        gap: 5vw;
    }

    .skillsTitle{
        font-size: 20vw;
    }
    
}

@media (max-width: 767px) {

    #jsLogo{
        width: 19vw;
    }
    
    #phpLogo{
        width: 32vw;
    
    }
    
    #reactLogo{
        width: 22vw;
    }
    
    #nextLogo{
        width: 20vw;
    }
    
    #nodeLogo{
        width: 31vw;
    }
    
    #sqlLogo{
        width: 19vw;
    }
    
    #firebaseLogo{
        width: 21vw;
    }
    
    #figmaLogo{
        width: 21.2vw;
    }

    .skillsTitle{
        font-size: 24vw;
    }

    .logosContainer {
        gap: 2.5vw;
    }
}
